/* ----DEFAULT ELEMENT STYLING START---- */
html {
  /* Positioning */
  position: relative;

  /* Box-model */
  min-height: 100%;
}

body {
  background-color:#ededed;
}

/* Media query for body */
@media only screen and (max-width: 770px) {
  /* Set background color to white on small screens */
  body {
    /* Visual */
    background-color: peachpuff;
  }
  .page-header {
    margin: 0;
    height: 85px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: bisque;
  }
}

/* ----DEFAULT ELEMENT STYLING END---- */

.page-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 5px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  background-image: url("https://i.pinimg.com/originals/10/4f/42/104f42063d23673085a01333abd905f7.png");
}

#data-input {
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: brown;
}

.headerline {
  color: black;
  margin: 5px;
  border: 0.5px solid black;
}

.page-header > h1 {
  text-align: center;
  color: black;
  font-size: 3pc;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

#chart-content {
  background-color: white;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  height: auto;
}

#trendchart-description {
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  height:20px;
}

#binpie-content {
  background-color: white;
  width: 440px;
  /*height: 300px;*/
  height: auto;
  padding: 10px;
  margin-right: 10px;
  margin-left: -7px;
  margin-top: 10px;
}

#pie-description {
  text-decoration: underline;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0px;
}

#CatType > li:hover {
  color: deepskyblue;
  text-decoration: underline;
}

#SL-list {
  background-color: white;
  width: 440px;
  /*height: 210px;*/
  height: auto;
  padding: 10px;
  margin-right: 10px;
  margin-left: -7px;
  margin-top: 10px;
}

#SL-description {
  text-decoration: underline;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0px;
}

.form-group {
  font-family: 'Courier New', Courier, monospace;
}

.panel-primary {
  margin-top: 10px;
  width: 215px;
}

.footer {
  /* Positioning */
  position: absolute;
  bottom: 0;
  /* Box-model */
  width: 100%;
  height: 40px;
  margin-top: 20px;

  /* Visual */
  background-color: gray;
}

.text-muted-footer {
  /* Positioning */
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 15px;
  /* Typography */
  color: #fff;
}

.two-toned-footer-color {
  /* Box-model */
  height: 4px;
  padding-top: 3px;

  /* Visual */
  background-color: #4aaaa5;
}